{% extends "base.html" %}

{% block content %}
<style>
    body {
        background-color: #f4f4f4;
        font-family: Arial, sans-serif;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    table {
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 800px;
        width: 100%;
        margin-top: 20px;
    }

    button[type="submit"] {
        background-color: #3498db;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        width: 100%; /* Ensures button takes up full width */
    }

    input[type="text"] {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    th, td {
        padding: 12px;
        border-bottom: 1px solid #ccc;
    }

    th {
        text-align: left;
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #f1f1f1;
    }

    button.delete-button {
        background-color: #e74c3c;
        color: white;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
    }

    </style>
<h1>List of Members</h1>
<form method="get" action="">
  <input type="text" name="q" placeholder="Search by name" value="{{ query }}">
  <button type="submit">Search</button>
</form>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Location</th>
      <th>Group</th>
      <th>Occupation</th>
      <th>DOB</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for member in page_obj %}
    <tr>
      <td>{{ member.name }}</td>
      <td>{{ member.phone_number }}</td>
      <td>{{ member.email }}</td>
      <td>{{ member.location }}</td>
      <td>{{ member.group_type }}</td>
      <td>{{ member.occupation }}</td>
      <td>{{ member.dob }}</td>
      <td>
       <form method="post" action="{% url 'member:delete_member' member.id %}">
          {% csrf_token %}
          <button type="submit" class="delete-button">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if not page_obj %}
  <p style="text-align: center;">No members found.</p>
{% endif %}

{% if page_obj.has_other_pages %}
<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; First</a>
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}
